# Copyright (c) 2013 Aubrey Barnard.  This is free software.  See
# LICENSE.txt for details.

# General
*~
build

# Compilation intermediates
*.o
*.mod

# Programs, libraries
liblbfgsb.a
example/example
